@model System.Web.Mvc.HandleErrorInfo
@using Finch_Inventory.Models()

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (ViewBag.ErrorMessage == null)
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>

}
else
{
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    <p class="text-light">@ViewBag.ErrorDetails<br /><br /> Irina Spiry - Irina.Spiry@finchpaper.com</p>

       

}

@section Scripts 
{
        <script>
            $(document).ready(function(){
                'use strict';
                console.log('@ViewBag.Admins');
            });
        </script>    
}
