@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.form-control {
  font-size: 12px; }

select {
  min-height: 30px; }

.navbar h3 {
  color: whitesmoke;
  font-size: 1.2em; }

.card {
  box-shadow: 0 0 10px #ccc;
  border: 1px solid #ccc;
  border-radius: 5px; }

.card-primary .card-header {
  background: #046cb5;
  color: whitesmoke;
  border-bottom: 3px solid #333 !important;
  border-radius: 5px 5px 0 0; }

.card-warning .card-header {
  background: #f76713;
  color: whitesmoke; }

table {
  font-family: "Roboto", sans-serif; }
  table td {
    text-align: center;
    font-size: .8em; }
  table th {
    text-align: center;
    font-size: .9em; }

.btn {
  border-color: #222; }

.btn-info {
  background-color: #0077e6; }
  .btn-info:hover {
    background: #005db3; }

.btn-warning {
  background: #f76713;
  color: white; }
  .btn-warning:hover {
    background: #d05107;
    color: white; }

.bg-warning {
  background-color: #f76713; }

.replace-roll {
  padding: 3px 0; }

body {
  font-size: 14px;
  height: 100vh;
  background: #222; }

nav {
  border-radius: 0 !important;
  background: #1769a3;
  border-bottom: 5px solid #333 !important; }
  nav ul.navbar-nav {
    margin-left: 4em; }

#logo {
  width: 75px;
  position: absolute;
  top: .2em;
  left: .2em; }
  #logo img {
    max-width: 100%; }

#main-console {
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  border: 1px solid #555;
  box-shadow: 0 0 10px #111; }
  #main-console .main-console > .btn.btn-success {
    background: linear-gradient(to bottom, #4c4b54 0%, #2b2b2b 100%);
    border: 1px solid #ccc; }
    #main-console .main-console > .btn.btn-success:hover {
      box-shadow: 0 0 8px #ddff00;
      color: #ddff00; }
  #main-console .main-console > .btn.btn-primary {
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #4c4b54 0%, #2b2b2b 100%); }
    #main-console .main-console > .btn.btn-primary:hover {
      box-shadow: 0 0 8px cyan;
      color: cyan; }
  #main-console .main-console > .btn.btn-secondary {
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #4c4b54 0%, #2b2b2b 100%); }
    #main-console .main-console > .btn.btn-secondary > .fas {
      color: #ff6161; }
    #main-console .main-console > .btn.btn-secondary:hover {
      box-shadow: 0 0 8px #ff6161;
      color: #ff6161; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #b54d04;
  color: whitesmoke;
  text-align: center; }

#fadeOverlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  top: 0; }

.center-div {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px; }

.spinner {
  position: fixed;
  z-index: 2000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6; }
  .spinner path,
  .spinner polygon {
    fill: whitesmoke; }

.loader {
  margin: auto;
  width: 250px;
  height: 250px;
  transform: translateX(-75px); }
  .loader .sp1 {
    transform-origin: center center;
    animation: spin 2s linear infinite; }
  .loader #top-bar {
    animation: blueFade 3s linear infinite; }
  .loader #middle-bar {
    animation: blueFade 3s linear infinite;
    animation-delay: 1.5s; }

.inner-div {
  background-color: transparent;
  border-radius: 15px;
  margin: auto;
  padding: 2%;
  width: 150px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.dt-buttons button {
  background: #333;
  border-radius: 5px;
  border: 1px solid #ccc; }

.buttons-pdf i {
  color: #c50000; }

.buttons-excel i {
  color: forestgreen; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGVzLmNzcyIsInNvdXJjZXMiOlsic3R5bGVzLnNjc3MiLCJtb2R1bGVzL192YXJpYWJsZXMuc2NzcyIsImJhc2UvX25vcm1hbGl6ZS5zY3NzIiwiYmFzZS9fdHlwb2dyYXBoeS5zY3NzIiwiYmFzZS9faWNvbm9ncmFwaHkuc2NzcyIsImJhc2UvX2NhcmRzLnNjc3MiLCJiYXNlL190YWJsZXMuc2NzcyIsImJhc2UvX2Jvb3RzdHJhcC1vdmVycmlkZXMuc2NzcyIsImxheW91dC9fbWFpbi5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgJ21vZHVsZXMvX3ZhcmlhYmxlcy5zY3NzJyxcclxuICAgICAgICAnYmFzZS9fbm9ybWFsaXplLnNjc3MnLFxyXG4gICAgICAgICdiYXNlL190eXBvZ3JhcGh5LnNjc3MnLFxyXG4gICAgICAgICdiYXNlL19pY29ub2dyYXBoeS5zY3NzJyxcclxuICAgICAgICAnYmFzZS9fY2FyZHMuc2NzcycsXHJcbiAgICAgICAgJ2Jhc2UvX3RhYmxlcy5zY3NzJyxcclxuICAgICAgICAnYmFzZS9fYm9vdHN0cmFwLW92ZXJyaWRlcy5zY3NzJyxcclxuICAgICAgICAnbGF5b3V0L19tYWluLnNjc3MnO1xyXG4iLCLvu79AaW1wb3J0IHVybCgnaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M/ZmFtaWx5PVJvYm90bzo0MDAsNzAwJyk7XHJcblxyXG4kcHJpbWFyeS1mb250OiAnUm9ib3RvJywgc2Fucy1zZXJpZjtcclxuXHJcbiRmb250LXJvYm90bzogJHByaW1hcnktZm9udDtcclxuXHJcbiRwcmltYXJ5LWNvbG9yOiAjMDQ2Y2I1O1xyXG4kc2Vjb25kYXJ5LWNvbG9yOiBjb21wbGVtZW50KCRwcmltYXJ5LWNvbG9yKTtcclxuJGluZm8tY29sb3I6ICMwMDc3ZTY7XHJcbiR3YXJuaW5nLWNvbG9yOiAjZjc2NzEzO1xyXG5cclxuXHJcblxyXG5cclxuIiwi77u/Ym9keSB7XHJcbn1cclxuIiwi77u/XHJcblxyXG4uZm9ybS1jb250cm9sIHtcclxuICAgIGZvbnQtc2l6ZTogMTJweDtcclxufVxyXG5cclxuc2VsZWN0IHtcclxuICAgIG1pbi1oZWlnaHQ6IDMwcHg7XHJcbn1cclxuXHJcbi5uYXZiYXIgaDMge1xyXG4gICAgY29sb3I6IHdoaXRlc21va2U7XHJcbiAgICBmb250LXNpemU6IDEuMmVtO1xyXG59XHJcbiIsIu+7v2JvZHkge1xyXG59XHJcbiIsIu+7v0BpbXBvcnQgJy4uL21vZHVsZXMvX3ZhcmlhYmxlcy5zY3NzJztcclxuXHJcbi5jYXJkIHtcclxuICAgIGJveC1zaGFkb3c6IDAgMCAxMHB4ICNjY2M7XHJcbiAgICBib3JkZXI6IDFweCBzb2xpZCAjY2NjO1xyXG4gICAgYm9yZGVyLXJhZGl1czogNXB4O1xyXG59XHJcblxyXG4uY2FyZC1wcmltYXJ5IHtcclxuICAgIC5jYXJkLWhlYWRlciB7XHJcbiAgICAgICAgYmFja2dyb3VuZDogJHByaW1hcnktY29sb3I7XHJcbiAgICAgICAgY29sb3I6IHdoaXRlc21va2U7XHJcbiAgICAgICAgYm9yZGVyLWJvdHRvbTogM3B4IHNvbGlkICMzMzMgIWltcG9ydGFudDtcclxuICAgICAgICBib3JkZXItcmFkaXVzOiA1cHggNXB4IDAgMDtcclxuICAgIH1cclxufVxyXG5cclxuLmNhcmQtd2FybmluZyB7XHJcbiAgICAuY2FyZC1oZWFkZXIge1xyXG4gICAgICAgIGJhY2tncm91bmQ6ICR3YXJuaW5nLWNvbG9yO1xyXG4gICAgICAgIGNvbG9yOiB3aGl0ZXNtb2tlO1xyXG4gICAgfVxyXG59XHJcbiIsIu+7v0BpbXBvcnQgJy4uL21vZHVsZXMvX3ZhcmlhYmxlcy5zY3NzJztcclxuXHJcbnRhYmxlIHtcclxuICAgIGZvbnQtZmFtaWx5OiAkZm9udC1yb2JvdG87XHJcbiAgICB0ZCB7XHJcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgICAgIGZvbnQtc2l6ZTogLjhlbTtcclxuICAgIH1cclxuICAgIHRoIHtcclxuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgZm9udC1zaXplOiAuOWVtO1xyXG4gICAgfVxyXG59Iiwi77u/QGltcG9ydCAnLi4vbW9kdWxlcy9fdmFyaWFibGVzLnNjc3MnO1xyXG5cclxuLmJ0biB7XHJcbiAgICBib3JkZXItY29sb3I6ICMyMjI7XHJcbn1cclxuXHJcblxyXG4uYnRuLWluZm8ge1xyXG5cclxuICAgIGJhY2tncm91bmQtY29sb3I6ICRpbmZvLWNvbG9yO1xyXG4gICAgJjpob3ZlciB7XHJcbiAgICAgICAgYmFja2dyb3VuZDogZGFya2VuKCRpbmZvLWNvbG9yLCAxMCUpO1xyXG4gICAgfVxyXG59XHJcblxyXG4uYnRuLXdhcm5pbmcge1xyXG4gICAgYmFja2dyb3VuZDogJHdhcm5pbmctY29sb3I7XHJcbiAgICBjb2xvcjogd2hpdGU7XHJcbiAgICAmOmhvdmVyIHtcclxuICAgICAgICBiYWNrZ3JvdW5kOiBkYXJrZW4oJHdhcm5pbmctY29sb3IsIDEwJSk7XHJcbiAgICAgICAgY29sb3I6IHdoaXRlO1xyXG4gICAgfVxyXG59XHJcblxyXG4uYmctd2FybmluZyB7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkd2FybmluZy1jb2xvcjtcclxufVxyXG5cclxuLnJlcGxhY2Utcm9sbCB7XHJcbiAgICBwYWRkaW5nOiAzcHggMDtcclxufVxyXG4iLCLvu79AaW1wb3J0ICcuLi9tb2R1bGVzL192YXJpYWJsZXMuc2Nzcyc7XHJcblxyXG5ib2R5IHtcclxuICAgIGZvbnQtc2l6ZTogMTRweDtcclxuICAgIGhlaWdodDogMTAwdmg7XHJcbiAgICBiYWNrZ3JvdW5kOiAjMjIyO1xyXG59XHJcblxyXG5uYXYge1xyXG4gICAgYm9yZGVyLXJhZGl1czogMCAhaW1wb3J0YW50O1xyXG4gICAgYmFja2dyb3VuZDogZGVzYXR1cmF0ZSgkcHJpbWFyeS1jb2xvciwgMjAlKTtcclxuICAgIGJvcmRlci1ib3R0b206IDVweCBzb2xpZCAjMzMzICFpbXBvcnRhbnQ7XHJcblxyXG4gICAgdWwubmF2YmFyLW5hdiB7XHJcbiAgICAgICAgbWFyZ2luLWxlZnQ6IDRlbTtcclxuICAgIH1cclxufVxyXG5cclxuI2xvZ28ge1xyXG4gICAgd2lkdGg6IDc1cHg7XHJcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICB0b3A6IC4yZW07XHJcbiAgICBsZWZ0OiAuMmVtO1xyXG4gICAgaW1nIHtcclxuICAgICAgICBtYXgtd2lkdGg6IDEwMCU7XHJcbiAgICB9XHJcbn1cclxuXHJcbiNtYWluLWNvbnNvbGUge1xyXG4gICAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KHRvIGJvdHRvbSwgIzQ1NDg0ZCAwJSwjMDAwMDAwIDEwMCUpO1xyXG4gICAgYm9yZGVyOiAxcHggc29saWQgIzU1NTtcclxuICAgIGJveC1zaGFkb3c6IDAgMCAxMHB4ICMxMTE7XHJcblxyXG4gICAgLm1haW4tY29uc29sZSB7XHJcbiAgICAgICAgJiA+IC5idG4uYnRuLXN1Y2Nlc3Mge1xyXG4gICAgICAgICAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCAjNGM0YjU0IDAlLCMyYjJiMmIgMTAwJSk7XHJcbiAgICAgICAgICAgIGJvcmRlcjogMXB4IHNvbGlkICNjY2M7XHJcblxyXG4gICAgICAgICAgICAmOmhvdmVyIHtcclxuICAgICAgICAgICAgICAgIGJveC1zaGFkb3c6IDAgMCA4cHggI2RkZmYwMDtcclxuICAgICAgICAgICAgICAgIGNvbG9yOiAjZGRmZjAwO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICAmID4gLmJ0bi5idG4tcHJpbWFyeSB7XHJcbiAgICAgICAgICAgIGJvcmRlcjogMXB4IHNvbGlkICNjY2M7XHJcbiAgICAgICAgICAgIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCh0byBib3R0b20sICM0YzRiNTQgMCUsIzJiMmIyYiAxMDAlKTtcclxuXHJcbiAgICAgICAgICAgICY6aG92ZXIge1xyXG4gICAgICAgICAgICAgICAgYm94LXNoYWRvdzogMCAwIDhweCBjeWFuO1xyXG4gICAgICAgICAgICAgICAgY29sb3I6IGN5YW47XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcblxyXG4gICAgICAgICYgPiAuYnRuLmJ0bi1zZWNvbmRhcnkge1xyXG4gICAgICAgICAgICBib3JkZXI6IDFweCBzb2xpZCAjY2NjO1xyXG4gICAgICAgICAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCAjNGM0YjU0IDAlLCMyYjJiMmIgMTAwJSk7XHJcblxyXG4gICAgICAgICAgICAmID4gLmZhcyB7XHJcbiAgICAgICAgICAgICAgICBjb2xvcjogI2ZmNjE2MTtcclxuICAgICAgICAgICAgfVxyXG5cclxuICAgICAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgICAgICBib3gtc2hhZG93OiAwIDAgOHB4ICNmZjYxNjE7XHJcbiAgICAgICAgICAgICAgICBjb2xvcjogI2ZmNjE2MTtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgIH1cclxufVxyXG5cclxuLmZvb3RlciB7XHJcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICBib3R0b206IDA7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGhlaWdodDogNjBweDtcclxuICAgIGxpbmUtaGVpZ2h0OiA2MHB4O1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJHNlY29uZGFyeS1jb2xvcjtcclxuICAgIGNvbG9yOiB3aGl0ZXNtb2tlO1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG59XHJcblxyXG4vL0xvYWRpbmcgSWNvblxyXG4jZmFkZU92ZXJsYXkge1xyXG4gICAgZGlzcGxheTogbm9uZTtcclxuICAgIGJhY2tncm91bmQ6IHJnYmEoMCwwLDAsLjcpO1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgd2lkdGg6IDEwMHZ3O1xyXG4gICAgaGVpZ2h0OiAxMDB2aDtcclxuICAgIHotaW5kZXg6IDUwO1xyXG4gICAgdG9wOiAwO1xyXG59XHJcblxyXG4uY2VudGVyLWRpdiB7XHJcbiAgICB3aWR0aDogMzAwcHg7XHJcbiAgICBoZWlnaHQ6IDMwMHB4O1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgbGVmdDogNTAlO1xyXG4gICAgdG9wOiA1MCU7XHJcbiAgICBtYXJnaW4tbGVmdDogLTE1MHB4O1xyXG4gICAgbWFyZ2luLXRvcDogLTE1MHB4O1xyXG59XHJcblxyXG4uc3Bpbm5lciB7XHJcbiAgICBwb3NpdGlvbjogZml4ZWQ7XHJcbiAgICB6LWluZGV4OiAyMDAwO1xyXG4gICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICB0b3A6IDA7XHJcbiAgICBsZWZ0OiAwO1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogYmxhY2s7XHJcbiAgICBvcGFjaXR5OiAwLjY7XHJcblxyXG4gICAgcGF0aCxcclxuICAgIHBvbHlnb24ge1xyXG4gICAgICAgIGZpbGw6IHdoaXRlc21va2U7XHJcbiAgICB9XHJcbn1cclxuXHJcbi5sb2FkZXIge1xyXG4gICAgbWFyZ2luOiBhdXRvO1xyXG4gICAgd2lkdGg6IDI1MHB4O1xyXG4gICAgaGVpZ2h0OiAyNTBweDtcclxuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgtNzVweCk7XHJcblxyXG4gICAgLnNwMSB7XHJcbiAgICAgICAgdHJhbnNmb3JtLW9yaWdpbjogY2VudGVyIGNlbnRlcjtcclxuICAgICAgICBhbmltYXRpb246IHNwaW4gMnMgbGluZWFyIGluZmluaXRlO1xyXG4gICAgfVxyXG5cclxuICAgICN0b3AtYmFyIHtcclxuICAgICAgICBhbmltYXRpb246IGJsdWVGYWRlIDNzIGxpbmVhciBpbmZpbml0ZTtcclxuICAgIH1cclxuXHJcbiAgICAjbWlkZGxlLWJhciB7XHJcbiAgICAgICAgYW5pbWF0aW9uOiBibHVlRmFkZSAzcyBsaW5lYXIgaW5maW5pdGU7XHJcbiAgICAgICAgYW5pbWF0aW9uLWRlbGF5OiAxLjVzO1xyXG4gICAgfVxyXG59XHJcblxyXG4uaW5uZXItZGl2IHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50O1xyXG4gICAgYm9yZGVyLXJhZGl1czogMTVweDtcclxuICAgIG1hcmdpbjogYXV0bztcclxuICAgIHBhZGRpbmc6IDIlO1xyXG4gICAgd2lkdGg6IDE1MHB4O1xyXG59XHJcblxyXG5Aa2V5ZnJhbWVzIHNwaW4ge1xyXG4gICAgMCUge1xyXG4gICAgICAgIHRyYW5zZm9ybTogcm90YXRlKDBkZWcpO1xyXG4gICAgfVxyXG5cclxuICAgIDEwMCUge1xyXG4gICAgICAgIHRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7XHJcbiAgICB9XHJcbn1cclxuXHJcbi8vZGF0YXRhYmxlIGJ1dHRvbnNcclxuLmR0LWJ1dHRvbnMgYnV0dG9uIHtcclxuICAgIGJhY2tncm91bmQ6ICMzMzM7XHJcbiAgICBib3JkZXItcmFkaXVzOiA1cHg7XHJcbiAgICBib3JkZXI6IDFweCBzb2xpZCAjY2NjO1xyXG59XHJcblxyXG4uYnV0dG9ucy1wZGYgaSB7XHJcbiAgICBjb2xvcjogI2M1MDAwMDtcclxufVxyXG5cclxuLmJ1dHRvbnMtZXhjZWwgaSB7XHJcbiAgICBjb2xvcjogZm9yZXN0Z3JlZW47XHJcbn0iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFDQUEsT0FBTyxDQUFDLDZEQUFJO0FBQVosT0FBTyxDQUFDLDZEQUFJO0FBQVosT0FBTyxDQUFDLDZEQUFJO0FBQVosT0FBTyxDQUFDLDZEQUFJO0FBQVosT0FBTyxDQUFDLDZEQUFJO0FFRVosQUFBQSxhQUFhLENBQUM7RUFDVixTQUFTLEVBQUUsSUFBSSxHQUNsQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILFVBQVUsRUFBRSxJQUFJLEdBQ25COztBQUVELEFBQUEsT0FBTyxDQUFDLEVBQUUsQ0FBQztFQUNQLEtBQUssRUFBRSxVQUFVO0VBQ2pCLFNBQVMsRUFBRSxLQUFLLEdBQ25COztBRVhELEFBQUEsS0FBSyxDQUFDO0VBQ0YsVUFBVSxFQUFFLGFBQWE7RUFDekIsTUFBTSxFQUFFLGNBQWM7RUFDdEIsYUFBYSxFQUFFLEdBQUcsR0FDckI7O0FBRUQsQUFDSSxhQURTLENBQ1QsWUFBWSxDQUFDO0VBQ1QsVUFBVSxFSkpGLE9BQU87RUlLZixLQUFLLEVBQUUsVUFBVTtFQUNqQixhQUFhLEVBQUUseUJBQXlCO0VBQ3hDLGFBQWEsRUFBRSxXQUFXLEdBQzdCOztBQUdMLEFBQ0ksYUFEUyxDQUNULFlBQVksQ0FBQztFQUNULFVBQVUsRUpWRixPQUFPO0VJV2YsS0FBSyxFQUFFLFVBQVUsR0FDcEI7O0FDbkJMLEFBQUEsS0FBSyxDQUFDO0VBQ0YsV0FBVyxFTERBLFFBQVEsRUFBRSxVQUFVLEdLVWxDO0VBVkQsQUFFSSxLQUZDLENBRUQsRUFBRSxDQUFDO0lBQ0MsVUFBVSxFQUFFLE1BQU07SUFDbEIsU0FBUyxFQUFFLElBQUksR0FDbEI7RUFMTCxBQU1JLEtBTkMsQ0FNRCxFQUFFLENBQUM7SUFDQyxVQUFVLEVBQUUsTUFBTTtJQUNsQixTQUFTLEVBQUUsSUFBSSxHQUNsQjs7QUNUTCxBQUFBLElBQUksQ0FBQztFQUNELFlBQVksRUFBRSxJQUFJLEdBQ3JCOztBQUdELEFBQUEsU0FBUyxDQUFDO0VBRU4sZ0JBQWdCLEVORFAsT0FBTyxHTUtuQjtFQU5ELEFBR0ksU0FISyxBQUdKLE1BQU0sQ0FBQztJQUNKLFVBQVUsRUFBRSxPQUF3QixHQUN2Qzs7QUFHTCxBQUFBLFlBQVksQ0FBQztFQUNULFVBQVUsRU5QRSxPQUFPO0VNUW5CLEtBQUssRUFBRSxLQUFLLEdBS2Y7RUFQRCxBQUdJLFlBSFEsQUFHUCxNQUFNLENBQUM7SUFDSixVQUFVLEVBQUUsT0FBMkI7SUFDdkMsS0FBSyxFQUFFLEtBQUssR0FDZjs7QUFHTCxBQUFBLFdBQVcsQ0FBQztFQUNSLGdCQUFnQixFTmhCSixPQUFPLEdNaUJ0Qjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNWLE9BQU8sRUFBRSxLQUFLLEdBQ2pCOztBQzVCRCxBQUFBLElBQUksQ0FBQztFQUNELFNBQVMsRUFBRSxJQUFJO0VBQ2YsTUFBTSxFQUFFLEtBQUs7RUFDYixVQUFVLEVBQUUsSUFBSSxHQUNuQjs7QUFFRCxBQUFBLEdBQUcsQ0FBQztFQUNBLGFBQWEsRUFBRSxZQUFZO0VBQzNCLFVBQVUsRUFBRSxPQUErQjtFQUMzQyxhQUFhLEVBQUUseUJBQXlCLEdBSzNDO0VBUkQsQUFLSSxHQUxELENBS0MsRUFBRSxBQUFBLFdBQVcsQ0FBQztJQUNWLFdBQVcsRUFBRSxHQUFHLEdBQ25COztBQUdMLEFBQUEsS0FBSyxDQUFDO0VBQ0YsS0FBSyxFQUFFLElBQUk7RUFDWCxRQUFRLEVBQUUsUUFBUTtFQUNsQixHQUFHLEVBQUUsSUFBSTtFQUNULElBQUksRUFBRSxJQUFJLEdBSWI7RUFSRCxBQUtJLEtBTEMsQ0FLRCxHQUFHLENBQUM7SUFDQSxTQUFTLEVBQUUsSUFBSSxHQUNsQjs7QUFHTCxBQUFBLGFBQWEsQ0FBQztFQUNWLFVBQVUsRUFBRSxvREFBbUQ7RUFDL0QsTUFBTSxFQUFFLGNBQWM7RUFDdEIsVUFBVSxFQUFFLGFBQWEsR0FxQzVCO0VBeENELEFBTVEsYUFOSyxDQUtULGFBQWEsR0FDTCxJQUFJLEFBQUEsWUFBWSxDQUFDO0lBQ2pCLFVBQVUsRUFBRSxvREFBbUQ7SUFDL0QsTUFBTSxFQUFFLGNBQWMsR0FNekI7SUFkVCxBQVVZLGFBVkMsQ0FLVCxhQUFhLEdBQ0wsSUFBSSxBQUFBLFlBQVksQUFJZixNQUFNLENBQUM7TUFDSixVQUFVLEVBQUUsZUFBZTtNQUMzQixLQUFLLEVBQUUsT0FBTyxHQUNqQjtFQWJiLEFBZ0JRLGFBaEJLLENBS1QsYUFBYSxHQVdMLElBQUksQUFBQSxZQUFZLENBQUM7SUFDakIsTUFBTSxFQUFFLGNBQWM7SUFDdEIsVUFBVSxFQUFFLG9EQUFtRCxHQU1sRTtJQXhCVCxBQW9CWSxhQXBCQyxDQUtULGFBQWEsR0FXTCxJQUFJLEFBQUEsWUFBWSxBQUlmLE1BQU0sQ0FBQztNQUNKLFVBQVUsRUFBRSxZQUFZO01BQ3hCLEtBQUssRUFBRSxJQUFJLEdBQ2Q7RUF2QmIsQUEwQlEsYUExQkssQ0FLVCxhQUFhLEdBcUJMLElBQUksQUFBQSxjQUFjLENBQUM7SUFDbkIsTUFBTSxFQUFFLGNBQWM7SUFDdEIsVUFBVSxFQUFFLG9EQUFtRCxHQVVsRTtJQXRDVCxBQThCWSxhQTlCQyxDQUtULGFBQWEsR0FxQkwsSUFBSSxBQUFBLGNBQWMsR0FJZCxJQUFJLENBQUM7TUFDTCxLQUFLLEVBQUUsT0FBTyxHQUNqQjtJQWhDYixBQWtDWSxhQWxDQyxDQUtULGFBQWEsR0FxQkwsSUFBSSxBQUFBLGNBQWMsQUFRakIsTUFBTSxDQUFDO01BQ0osVUFBVSxFQUFFLGVBQWU7TUFDM0IsS0FBSyxFQUFFLE9BQU8sR0FDakI7O0FBS2IsQUFBQSxPQUFPLENBQUM7RUFDSixRQUFRLEVBQUUsUUFBUTtFQUNsQixNQUFNLEVBQUUsQ0FBQztFQUNULEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLElBQUk7RUFDWixXQUFXLEVBQUUsSUFBSTtFQUNqQixnQkFBZ0IsRVByRUYsT0FBMEI7RU9zRXhDLEtBQUssRUFBRSxVQUFVO0VBQ2pCLFVBQVUsRUFBRSxNQUFNLEdBQ3JCOztBQUdELEFBQUEsWUFBWSxDQUFDO0VBQ1QsT0FBTyxFQUFFLElBQUk7RUFDYixVQUFVLEVBQUUsa0JBQWM7RUFDMUIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsS0FBSyxFQUFFLEtBQUs7RUFDWixNQUFNLEVBQUUsS0FBSztFQUNiLE9BQU8sRUFBRSxFQUFFO0VBQ1gsR0FBRyxFQUFFLENBQUMsR0FDVDs7QUFFRCxBQUFBLFdBQVcsQ0FBQztFQUNSLEtBQUssRUFBRSxLQUFLO0VBQ1osTUFBTSxFQUFFLEtBQUs7RUFDYixRQUFRLEVBQUUsUUFBUTtFQUNsQixJQUFJLEVBQUUsR0FBRztFQUNULEdBQUcsRUFBRSxHQUFHO0VBQ1IsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU0sR0FDckI7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDTCxRQUFRLEVBQUUsS0FBSztFQUNmLE9BQU8sRUFBRSxJQUFJO0VBQ2IsTUFBTSxFQUFFLElBQUk7RUFDWixLQUFLLEVBQUUsSUFBSTtFQUNYLEdBQUcsRUFBRSxDQUFDO0VBQ04sSUFBSSxFQUFFLENBQUM7RUFDUCxnQkFBZ0IsRUFBRSxLQUFLO0VBQ3ZCLE9BQU8sRUFBRSxHQUFHLEdBTWY7RUFkRCxBQVVJLFFBVkksQ0FVSixJQUFJO0VBVlIsUUFBUSxDQVdKLE9BQU8sQ0FBQztJQUNKLElBQUksRUFBRSxVQUFVLEdBQ25COztBQUdMLEFBQUEsT0FBTyxDQUFDO0VBQ0osTUFBTSxFQUFFLElBQUk7RUFDWixLQUFLLEVBQUUsS0FBSztFQUNaLE1BQU0sRUFBRSxLQUFLO0VBQ2IsU0FBUyxFQUFFLGlCQUFpQixHQWUvQjtFQW5CRCxBQU1JLE9BTkcsQ0FNSCxJQUFJLENBQUM7SUFDRCxnQkFBZ0IsRUFBRSxhQUFhO0lBQy9CLFNBQVMsRUFBRSx1QkFBdUIsR0FDckM7RUFUTCxBQVdJLE9BWEcsQ0FXSCxRQUFRLENBQUM7SUFDTCxTQUFTLEVBQUUsMkJBQTJCLEdBQ3pDO0VBYkwsQUFlSSxPQWZHLENBZUgsV0FBVyxDQUFDO0lBQ1IsU0FBUyxFQUFFLDJCQUEyQjtJQUN0QyxlQUFlLEVBQUUsSUFBSSxHQUN4Qjs7QUFHTCxBQUFBLFVBQVUsQ0FBQztFQUNQLGdCQUFnQixFQUFFLFdBQVc7RUFDN0IsYUFBYSxFQUFFLElBQUk7RUFDbkIsTUFBTSxFQUFFLElBQUk7RUFDWixPQUFPLEVBQUUsRUFBRTtFQUNYLEtBQUssRUFBRSxLQUFLLEdBQ2Y7O0FBRUQsVUFBVSxDQUFWLElBQVU7RUFDTixFQUFFO0lBQ0UsU0FBUyxFQUFFLFlBQVk7RUFHM0IsSUFBSTtJQUNBLFNBQVMsRUFBRSxjQUFjOztBQUtqQyxBQUFBLFdBQVcsQ0FBQyxNQUFNLENBQUM7RUFDZixVQUFVLEVBQUUsSUFBSTtFQUNoQixhQUFhLEVBQUUsR0FBRztFQUNsQixNQUFNLEVBQUUsY0FBYyxHQUN6Qjs7QUFFRCxBQUFBLFlBQVksQ0FBQyxDQUFDLENBQUM7RUFDWCxLQUFLLEVBQUUsT0FBTyxHQUNqQjs7QUFFRCxBQUFBLGNBQWMsQ0FBQyxDQUFDLENBQUM7RUFDYixLQUFLLEVBQUUsV0FBVyxHQUNyQiJ9 */
