@import '../modules/_variables.scss';

body {
    font-size: 14px;
}

nav {
    border-radius: 0 !important;
    background: desaturate($primary-color, 20%);
    border-bottom: 5px solid #333 !important;

    ul.navbar-nav {
        margin-left: 2em;
    }
}

#logo {
    width: 75px;
    position: absolute;
    top: .2em;
    left: .2em;
    img {
        max-width: 100%;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $secondary-color;
    color: whitesmoke;
    padding: 1em;
    text-align: center;
}